@model string
@{
    ViewData["Title"] = "Create New Role";
}

<h1 class="bg-info text-white">Create New Role</h1>
<a asp-action="Index" asp-controller="Role" class="btn btn-secondary">User Role List</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" asp-controller="Role" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>   
</form>